main {
    --color-primary: #9A3338;
    --color-secondary: #0A4E79;
    --color-tertiary: #02253E;

    --color-background-light: #E0D9E1;
    --color-background-dark: #0F181F;
    --color-text: #111827;
}